@use "../../SCSS/variables"as *;
@use "../../SCSS/mixin"as *;
@use "../../SCSS/index"as *;
@use "../../SCSS/breakpoint"as *;

.marvel-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
    margin-bottom: 3rem;

    @include tablet {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    &__loadmore {
        text-align: center;
    }
}
.load-buttons {
    text-align: center;
    padding-right: 5px;
    
  }

  .load-more {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .load-more button:first-child {
    margin-right: 20rem;
  }