@use "../../scss/" as *;

.marvel-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
    margin-bottom: 3rem;

    @include tablet {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    &__loadmore {
        text-align: center;
    }
}