
@use "../../SCSS/variables"as *;
@use "../../SCSS/mixin"as *;
@use "../../SCSS/index"as *;
@use "../../SCSS/breakpoint"as *;

.marvel-card {
    width: 20rem;
    position: relative;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 160%;
    border-radius: $border-radius;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: $black;
        opacity: 0;
        transition: opacity 0.3s ease;
        border-radius: $border-radius;
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover::before {
            opacity: 0.8;
        }

        &:hover .btn {
            transform: translate(-50%, -50%) scale(1);
        }
    }

    :root {
        --mx: 50%;
        --my: 50%;
        --s: 1;
        --o: 0;
        --tx: 0px;
        --ty: 0px;
        --rx: 0deg;
        --ry: 0deg;
        --pos: 50% 50%;
        --posx: 50%;
        --posy: 50%;
        --hyp: 0;
    }
    
    .card {
        --radius: 4.55% / 3.5%;
        z-index: calc(var(--s) * 100);
        transform: translate3d(0, 0, 0.1px);
        will-change: transform, visibility;
        transform-style: preserve-3d;
    }
    
    .card.interacting {
        z-index: calc(var(--s) * 120);
    }
    
    .card.active .card__translater,
    .card.active .card__rotator {
        touch-action: none;
    }
    
    .card__translater,
    .card__rotator {
        display: grid;
        perspective: 600px;
        transform-origin: center;
        will-change: transform;
    }
    
    .card__translater {
        width: auto;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translate3d(var(--tx), var(--ty), 0) scale(var(--s));
    }
    
    .card__rotator {
        --glow: #69d1e9;
        transform: rotateY(var(--rx)) rotateX(var(--ry));
        transform-style: preserve-3d;
        box-shadow: 0px 10px 20px -5px black;
        border-radius: var(--radius);
        outline: none;
        transition: box-shadow 0.4s ease, outline 0.2s ease;
    }
    
    .card.active .card__rotator {
        box-shadow: 0 0 10px 0px var(--glow), 0 0 10px 0px var(--glow),
            0 0 30px 0px var(--glow);
    }
    
    .card__rotator:focus {
        box-shadow: 0 0 10px 0px var(--glow), 0 0 10px 0px var(--glow),
            0 0 30px 0px var(--glow);
    }
    
    .card.active .card__rotator:focus {
        box-shadow: 0px 10px 30px 3px black;
    }
    
    .card__rotator :global(*) {
        width: 100%;
        display: grid;
        grid-area: 1/1;
        border-radius: var(--radius);
        image-rendering: optimizeQuality;
        transform-style: preserve-3d;
    }
    
    .card__back {
        transform: rotateY(180deg);
        backface-visibility: visible;
    }
    
    .card__front,
    .card__front * {
        backface-visibility: hidden;
    }
    
    .card__front {
        opacity: 1;
        transition: opacity 0.2s ease-out;
    }
    
    .loading .card__front {
        opacity: 0;
    }
    
    .loading .card__back {
        transform: rotateY(0deg);
    }
    
    .card__shine {
        --grain: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCI+CjxmaWx0ZXIgaWQ9Im4iPgo8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjciIG51bU9jdGF2ZXM9IjEwIiBzdGl0Y2hUaWxlcz0ic3RpdGNoIj48L2ZlVHVyYnVsZW5jZT4KPC9maWx0ZXI+CjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWxsPSIjMDAwIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWx0ZXI9InVybCgjbikiIG9wYWNpdHk9IjAuMyI+PC9yZWN0Pgo8L3N2Zz4=");
        --space: 5%;
        --angle: 133deg;
        --imgsize: 500px;
    
        --red: #f80e7b;
        --yel: #eedf10;
        --gre: #21e985;
        --blu: #0dbde9;
        --vio: #c929f1;
    }
    
    .marvel-card-datas {
       display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 1rem;
        box-sizing: border-box;
        text-align: center;
        
        &__inner {
          padding: 1rem;
          box-sizing: border-box;
          text-align: center;
        }
      
        &__name {
          font-size: 24px;
          font-weight: bold;
          margin-top: 10px;
          margin-bottom: 0;
          text-align: center;
        }
      
        
      }
      .marvel-card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      } 
    }
    h1 {text-shadow: 3px 3px 30px rgb(241, 236, 236);
        font-weight: 100 !important;
        font-size: 37px !important;
        color: #1100ff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    h2 {    text-shadow: 1px 1px 20px rgb(241, 236, 236);
        font-size: 35px !important;
            text-align: center !important;
            color: #e00404;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
            font-weight: 100 !important;
           
        }p {
            font-size: 20px !important;
          text-align: center !important;
          font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
        }
    ----------------checkboxes
    .marvel-card-datas__checkboxes {
        position: absolute;
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
      
        label {
            position: absolute;
          display: flex;
          align-items: center;
          margin-right: 1rem;
      
          input[type='radio'] {
            margin-right: 0.5rem;
            position: absolute;
          }
        }
      }
      
      .marvel-card-datas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 1rem;
        box-sizing: border-box;
        text-align: center;
      }
      
      .marvel-card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .marvel-card-datas__inner {
        padding: 1rem;
        box-sizing: border-box;
        text-align: center;

       
      }
      
      .marvel-card__name {
        font-size: 24px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 0;
        text-align: center;
      }
      
      .marvel-card-datas p {
        text-align: center !important;
      }

      .checkbox-list {
        height: auto;
        width: 100%;
        display: flex;
        // flex-direction: row ;
        align-self: center;
        // align-items: center;
        // text-align: center;
        margin-bottom: 3rem;
        padding-left: 0.5rem;
      }

      label {
        display: flex;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        font-size: 16px;
        margin-bottom: 1rem;
      }
      input {
        display: flex;
        margin-left: 0.7rem;
       justify-content: left;
      }

      .line-1 {
        height: 1px;
        background: black;
      }

      hr {
        border:none;
        height: 20px;
           width: 90%;
          height: 50px;
          margin-top: 2rem;
          box-shadow: 0 20px 20px -20px #f5f0f0;
        margin: -40px auto -60px; 
      }
      .bottomhr {
        border:none;
        height: 20px;
           width: 90%;
          height: 50px;
          margin-top: 0;
          box-shadow: 0 -20px 20px -20px #f5f0f0;
        margin: -50px auto 60px; 
      }

      input[type="radio"]:focus {
        outline: max(2px, 0.15em) solid currentColor;
        outline-offset: max(2px, 0.15em);
      }
      input[type="radio"] {
        -webkit-appearance: none;
        appearance: none;
        background-color: #e00404;
        margin: 1;
        //custom style:
        font: inherit;
        color: currentColor;
        width: 1.30em;
        height: 1.30em;
        border: 0.15em solid currentColor;
        border-radius: 1em;
        transform: translateY(-0.075em);

        place-content: center;
      }
      